
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Shadows+Into+Light&family=Titan+One&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#mainContainer{
    border: 2px solid ;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,#75E6DA, #7EC8E3,#7EC8E3);
    font-family: 'Monoton', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Titan One', cursive;
}
#container{
    background-color: #E8E8E8;
    border: 3px solid;
    width: 40rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1rem;
    box-shadow: 2px 5px 6px -2px #5f5f5f;

}
#QuestionContainer{

    display: flex;
    justify-content: center;
    align-items: center;

}
#SubmitContainer{

    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
/* rgb(43, 202, 226) */
#btn{
    border: 2px solid white;
    color: white;
    height: 3rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transform: scale(0.9);
    transition: all 1s;
    background-color: rgb(43, 202, 226);
    text-transform: uppercase;
}
#btn:hover{

    color: rgb(43, 202, 226);
    background-color: white;
    border: 2px solid rgb(43, 202, 226);
    transform: scale(1);
    cursor: pointer;
}


#playAgain{
    border: 2px solid white;
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
    border-radius: 1rem;
    transition: all 0.5s;
    transform: scale(0.8);
    width: 6rem;
    text-align: center;
    margin-left: 10.5rem;
}
#playAgain:hover{
    border: 2px solid;
    color: black;
    background-color: greenyellow;
    transform: scale(1);
}
#showScore{
    border: 2px solid;
    height: 8rem;
    width: 30rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px #9f9f9f;
    background-color: #bce88b;
    margin-left: 5rem;
    
}
#score{
    padding-left: 9rem;
}
.scoreArea{
    display: none;
}
@media (max-width:320px) and (max-width:375px) {
    /* For s size mobile */
    #container{

        font-size: 0.7rem;
        width: 16rem;
        height: 17rem;
    }
    #QuestionContainer{
        text-align: center;
    }
    #btn{
        transform: scale(0.5);
    }
    #btn:hover{
        transform: scale(0.7);
    }
    #showScore{
        height: 3rem;
    width: 12rem;
    margin: 0rem;
    margin-left: 2rem;
    font-size: 0.5rem;
    }
    #score{
        padding-left: 3rem;
    }
    #playAgain{
        padding: 0.5rem;
    margin-bottom: 0rem;
    width: 3rem;
    margin-left: 4rem;
    transform: translateY(-1rem) scale(0.8);
    }
    #playAgain:active{
        background-color: green;
        
    }
}
@media (min-width:375px) and (max-width:684px){  
    /* for m size mobile  */
    #container{
   
        font-size: 1rem;
        width: 21rem;
        height: 23rem;
    }
    #QuestionContainer{
        text-align: center;
    }
    #btn{
        transform: scale(0.8);
    }
    #btn:hover{
        transform: scale(1);
    }
    #showScore{
        height: 4rem;
        width: 17rem;
        margin: 0rem;
        margin-left: 2rem;
        font-size: 0.6rem;
    }
    #score{
        padding-left: 4.5rem;
    }
    #playAgain{
        padding: 0.5rem;
        margin-bottom: 0rem;
        width: 3rem;
        margin-left: 6rem;
        transform: translateY(-1rem) scale(0.8);
    }
    #playAgain:active{
        background-color: green;

    }
}
